html body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	padding-top: 10px;
	color: white;
	font-size: 27px;
	font-family: 'Indie Flower', cursive;
}

h2 {
	text-align: center;
	color: white;
	font-size: 22px;
	padding-top: inherit;
}

.loginBox {
	text-align: center;
	color: white;
	font-family: Calibri;
	padding: 70px;
}

#contraseña {
	height: 50px;
	width: 400px;
	font-size: 20px;
	margin: 15px;
}

#correoEléctronico {
	height: 50px;
	width: 400px;
	font-size: 20px;
}

.iniciar {
    background-color: #8777a5;
    border-radius: 12px;
    color: white;
    padding: 24px 36px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 40px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Calibri;
    vertical-align: middle;
}

/*.iniciar:hover {
	background-color: red;
}*/

.iniciar a:link {
	text-decoration: none;
}

a {
	color: white;
}

.muaImagen {
  background: url("original.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 666px;
}

/*.muaImagen .loginBox {
	position: absolute;
	top: 20%;
	right: 30%;
	overflow: hidden;*/
}

@media screen and (min-width: 375px) {
	.muaImagen {
		background: url("small.jpg");
	}
}

@media screen and (min-width: 1024px) {
	.muaImagen {
		height: 768px;
	}

	h1 {
	padding-top: initial;
	font-size: 80px;
	}

	h2 {
	font-size: 50px;
	padding-top: initial;
	}
}

@media screen and {
	.muaImagen {
		background: url("large.jpg");
		height: 1160px;
	}

	h1 {
		padding-top: initial;
		font-size: 120px;
	}

	h2 {
		padding-top: initial;
		font-size: 80px;
	}

	#correoEléctronico {
		height: 80px;
		width: 300px;
	}

	#contraseña {
		height: 80px;
		width: 300px;
	}

	.iniciar {
    padding: 50px 80px;
    font-size: 30px;
    margin: 30px 2px;
	}
}


